%table.race
  %thead
    %tr
      - ["Name", "Address"].each do |th|
        %th= th
      - if current_user
        %th
  %tbody
    - races.each do |race_hash|
      %tr.date
        %td{colspan: 2}= race_hash.first.strftime("%b %d, %Y")

      - race_hash.second.sort_by{ |r| r.title}.each do |race|
        %tr
          %td= link_to(race.title, race.url, target: "_blank")
          %td= link_to(race.full_address, race.url, target: "_blank")
          - if current_user
            %td= link_to("Edit Race", edit_admin_race_path(race))
