= form_for @race do |f|
  %dl
    %dt= f.label :title
    %dd= f.text_field :title, autofocus: 'autofocus'

  %dl
    %dt= f.label :date
    %dd= f.date_select :date

  %dl
    %dt= f.label :street
    %dd= f.text_field :street

  %dl
    %dt= f.label :city
    %dd= f.text_field :city

  %dl
    %dt= f.label :state
    %dd= f.text_field :state

  %dl
    %dt= f.label :country
    %dd= f.text_field :country

  %dl
    %dt= f.label :zip
    %dd= f.text_field :zip

  %dl
    %dt= f.label :url
    %dd= f.text_field :url

  %dl
    %dt= f.label :description
    %dd= f.text_area :description
  = f.submit

= link_to "Delete Race", @race, method: :delete, confirm: "Are you sure you want to delete this race?"
