= content_for :head do
  = filepicker_js_include_tag

= form_for @classified do |f|
  %dl
    %dt= f.label :title
    %dd= f.text_field :title, autofocus: 'autofocus'

  %dl
    %dt= f.label :description
    %dd= f.text_area :description

  %dl
    %dt= f.label :price
    %dd= f.text_field :price

  %dl
    %dt= f.label :city
    %dd= f.text_field :city

  %dl
    %dt= f.label :state
    %dd= f.text_field :state

  %dl
    %dt= f.label :country
    %dd= f.text_field :country

  %dl
    %dt= f.label :email
    %dd= f.email_field :email

  %dl
    %dt= f.label :filepicker_url, "Image"
    %dd= f.filepicker_field :filepicker_url

  = f.submit "Create Classified"
